{include file="public/header,public/top" /}

    <link href="/resource/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    用户 {if condition="$UserInfo.id"}编辑{else}添加{/if} 
                    <button type="button" class="btn btn-outline btn-info" style="float:right;" onclick="back()">
                        <i class="glyphicon glyphicon-arrow-left"></i> 返回 
                    </button>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        基本信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form role="form" action="{:url('user/saveUser')}"  method="post" id="UserEdit" enctype="multipart/form-data">
                                <div class="col-lg-6">
                                    <input type="hidden" name="id" value="{$UserInfo.id}">
                                    <div class="form-group">
                                        <label>手机号：</label>
                                        <input class="form-control" name="phone" id="phone" value="{$UserInfo.phone}" placeholder="手机号" onblur="findUser($(this),'phone')">
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>用户名：</label>
                                        <input class="form-control" name="name" id="name" value="{$UserInfo.name}" placeholder="用户名">
                                        <!-- onblur="findUser($(this),'nikename')" -->
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>资金：</label>
                                        <input class="form-control" name="money" id="money" value="{$UserInfo.money}" placeholder="资金">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-outline btn-success" id="UserEditButton" onclick="EditForm($(this))">提交</button>
                                    <button type="button" class="btn btn-outline btn-info" onclick="back()">返回</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <script src="/resource/plugins/fileuploads/js/dropify.min.js"></script>
	<script type="text/javascript" src="/resource/admin/js/admin.js"></script>
    <script type="text/javascript">
        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': 'Ooops, something wrong appended.'
            },
            error: {
                'fileSize': 'The file size is too big (1M max).'
            }
        });

        // 修改信息
        function EditForm(res){
            if(res.hasClass('disabled')){
                return false;
            }
            loading('show');

            $('#UserEdit').submit();
        }

        // 查看是否已经存在邮箱和昵称
        function findUser(res,type){
            var findField = type;
            var findVal = res.val();
           

            $.post("{:url('user/findUser')}",{'findField':findField,'findVal':findVal},function(data){
                if(data.flog!=1){
                    res.parent().addClass("has-error");
                    res.next('p').html(data.msg);
                    $('#UserEditButton').addClass('disabled');
                    return false;
                }else{
                    if($('#UserEditButton').hasClass('disabled')){
                        $('#UserEditButton').removeClass('disabled');
                    }
                    return false;
                }
            },'json');
        }
    </script>



</div>

{include file="public/footer" /}