{include file="public/header,public/top" /}

    <link href="/resource/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    用户编辑 
                    <button type="button" class="btn btn-outline btn-info" style="float:right;" onclick="back()">
                        <i class="glyphicon glyphicon-arrow-left"></i> 返回 
                    </button>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        基本信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form role="form" action="{:url('user/saveUser')}"  method="post" id="UserEdit" enctype="multipart/form-data">
                                <div class="col-lg-6">
                                    <input type="hidden" name="id" value="{$UserInfo.id}">
                                    <div class="form-group">
                                        <label>邮箱：</label>
                                        <input class="form-control" name="email" id="email" value="{$UserInfo.email}" placeholder="邮箱" onblur="findUser($(this),'email')" {if condition="$UserInfo.id"}disabled{/if}>
                                        <p class="help-block"></p>
                                    </div>
                                    {if condition="!$UserInfo.id"}
                                    <div class="form-group">
                                        <label>密码：</label>
                                        <input class="form-control" type="password" name="password" id="password" value="" placeholder="密码">
                                        <p class="help-block"></p>
                                    </div>
                                    {/if}
                                    <div class="form-group">
                                        <label>昵称：</label>
                                        <input class="form-control" name="nikename" id="nikename" value="{$UserInfo.nikename}" placeholder="昵称" onblur="findUser($(this),'email')">
                                        <!-- onblur="findUser($(this),'nikename')" -->
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>性别：</label>
                                        <div class="radio">
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" class="sex" value="1" {if condition="$UserInfo.sex==1"} checked {/if}> 男
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" class="sex" value="2" {if condition="$UserInfo.sex==2"} checked {/if} > 女
                                            </label>

                                            <label class="radio-inline">
                                                <input type="radio" name="sex" class="sex" value="3" {if condition="$UserInfo.sex==3"} checked {/if}> 保密
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>简介：</label>
                                        <textarea class="form-control" name="info" rows="3" cols="" style="margin: 0px -5px 0px 0px;resize:none">{$UserInfo.info}</textarea>
                                    </div>
                                  
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>头像：</label>

                                        <input type="file" class="dropify" name="headimg" data-default-file="/{$UserInfo.headimg}"  />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-outline btn-success" id="UserEditButton" onclick="EditForm($(this))">提交</button>
                                    <button type="button" class="btn btn-outline btn-info" onclick="back()">返回</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <script src="/resource/plugins/fileuploads/js/dropify.min.js"></script>
	<script type="text/javascript" src="/resource/admin/js/admin.js"></script>
    <script type="text/javascript">
        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': 'Ooops, something wrong appended.'
            },
            error: {
                'fileSize': 'The file size is too big (1M max).'
            }
        });

        // 修改信息
        function EditForm(res){
            if(res.hasClass('disabled')){
                return false;
            }

            loading('show');
            var uid = $('input[name="id"]').val();
            var email = $('#email').val();
            var password = $('#password').val();

            var myema =  /^[_\.0-9a-z-]+@([0-9a-z][0-9a-z-]+\.){1,4}[a-z]{2,3}$/i;
            if(!myema.test(email)) 
            { 
                console.log(12);
                loading('hide');
                $('#email').parent().addClass("has-error");  
                $('#email').next('p').html('邮箱格式不正确');
                return false; 
            }

            if(uid==''&&password==''){
                loading('hide');
                $('#password').parent().addClass("has-error");  
                $('#password').next('p').html('密码不能为空');
                return false; 
            }

            $('#UserEdit').submit();
        }

        // 查看是否已经存在邮箱和昵称
        function findUser(res,type){
            var findField = type;
            var findVal = res.val();
           

            $.post("{:url('user/findUser')}",{'findField':findField,'findVal':findVal},function(data){
                if(data.flog!=1){
                    res.parent().addClass("has-error");
                    res.next('p').html(data.msg);
                    $('#UserEditButton').addClass('disabled');
                    return false;
                }else{
                    if($('#UserEditButton').hasClass('disabled')){
                        $('#UserEditButton').removeClass('disabled');
                    }
                    return false;
                }
            },'json');
        }
    </script>



</div>

{include file="public/footer" /}